.container{
  max-width: 600px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}
.username{
  font-weight: bold;
}
.message{
  background: #06c755;
  color: #000000;
  padding: 3px;
}
.time .updateMssg{
  font-size: 10px;
  color: #999;
}
.btn-danger{
  background: #ff3d3d;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.list-group-item{
  background-color: #7494C0;
}
.active {
  background-color: #0e0ef9;
  color: white;
}